<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
        <title>
            Photo Capsule -
            {% block title_block %}
            {% endblock %}
        </title>
    </head>
    <body>
        <header>
            <img id="logo" src="{% static 'images/PhotoCapsuleLogoWhite.png' %}" alt="Photo Capsule Logo" />
            <div id="navbar">
                <ul>
                    <li><a href="{% url 'photocapsule:index' %}">Home</a></li>
                    <li><a href="{% url 'photocapsule:browse' %}">Browse</a></li>
                </ul>
                <ul>
                    <li><a href="{% url 'registration_register' %}">Register</a></li>
                    <li><a href="{% url 'photocapsule:sign-in' %}">Sign In</a></li>
                </ul>
                <ul>
                    <li><a href="{% url 'photocapsule:profile' %}">Profile</a></li>
                    <li><a href="{% url 'photocapsule:upload' %}">Upload</a></li>
                </ul>
                <ul>
                    <li><a href="{% url 'photocapsule:sign-out' %}">Sign Out</a></li>
                </ul>
            </div>
        </header>
        <div class="content">
            {% block body_block %}
            {% endblock %}
        </div>
        <footer>
            <p>PHOTO CAPSULE CREATED 2024 | FOR HELP CONTACT SUPPORT @ photo-capsule@gmail.com</p>
        </footer>
    </body>
</html>