{% extends 'photocapsule/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Browse
{% endblock %}

{% block script_block %}
    <script src="{% static 'js/ajax.js' %}" type="text/javascript"></script>
{% endblock %}

{% block body_block %}
<h1 class="text-center pt-3">Browse</h1>
<div class="container p-5 pt-3">
    <div class="row d-flex justify-content-center">
        <div class="col-md-4 rounded bg-light-blue border border-dark">
            <h2 class="text-light text-center mt-4 mb-4">Profile Search</h2>
            <input id="search" autocomplete="off" class="w-100 p-1 border border-dark" placeholder="Search for profile..." oninput="getProfiles()" type="text" size="25" name="profile" />
            <ul id="profile-list" class="rounded bg-light border border-dark mt-3 pt-3 pb-3">
                {% if result_list %}
                    {% for user in result_list %}
                        <li><a href="{% url 'photocapsule:profile-results' user.username %}">{{ user.username }}</a></li>
                    {% endfor %}
                {% else %}
                    <li>No Profiles Found!</li>
                {% endif %}
            </ul>
        </div>
        <div class="col-md-2 mx-3 pb-2 rounded bg-light-blue border border-dark">
            <h2 class="text-light text-center mt-4 mb-4">Category</h2>
            {% for category in categories %}
                <a class="btn btn-light text-start border border-dark w-100 mb-1" href="{% url 'photocapsule:category-results' category.categoryName %}"><u>{{ category.categoryName }}</u></a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}