{% extends 'photocapsule/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Browse
{% endblock %}

{% block script_block %}
    <script src="{% static 'js/ajax.js' %}" type="text/javascript"></script>
{% endblock %}

{% block body_block %}
    <h1>Browse</h1>
    <div>
        <h2>Profile Search</h2>
        <input id="search" oninput="getProfiles()" type="text" size="40" name="profile" />
        {% if result_list %}
            <h2>Profiles</h2>
            <ul id="profile-list">
                {% for user in result_list %}
                    <li><a href="{% url 'photocapsule:profile-results' user.username %}">{{ user.username }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div>
        <h2>Category Search</h2>
        <ul>
            {% for category in categories %}
                <li><a href="{% url 'photocapsule:category-results' category.categoryName %}">{{ category.categoryName }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}