{% extends 'photocapsule/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
    <h1>Homepage</h1>
    <h2>Recent</h2>
    {% if recent %}
        {% for photo in recent %}
        <li><p>{{ photo.title }}</p><img id="accountPhoto" src="{{ photo.image.url }}" alt="{{ photo.title }}" /></li>
        {% endfor %}
    {% else %}
        No photos.
    {% endif %}
    <h2>Trending</h2>
    {% if likes %}
        {% for photo in likes %}
        <li><p>{{ photo.title }}</p><img id="accountPhoto" src="{{ photo.image.url }}" alt="{{ photo.title }}" /></li>
        {% endfor %}
    {% else %}
        No photos.
    {% endif %}
{% endblock %}