#navbar-logo {
    height: 75px;
}

.bg-blue {
    background-color: #4c4cfd;
}

.bg-light-blue {
    background-color: #8686fe;
}

.button-section {
    max-width:400px;
}

.home-photo {
    max-height:25vh;
    max-width:20vw;
}